 body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-color: #2c2a2b;
  margin: 0;
  padding: 0;
}

#main-menu .nav-bar {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  margin-right: 70px;
}

#main-menu .nav-bar li {
  padding: 0 10px;
 
}

#main-menu .nav-bar li a {
  text-decoration: none;
  padding-left: 25px;
  text-transform: uppercase;
  color: #de2277;
  position: relative;
  transition: color 0.3s;
}

#main-menu .nav-bar li a:hover {
  /*color: #de2277;
  text-decoration: none; */
}

#main-menu .nav-bar li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 10px;
  background-color: #f4a7b7;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s;
}

#main-menu .nav-bar li a:hover::before {
  transform: scaleX(1);
}



.intro {
  margin-top: 200px;
}

.intro-text {
  color: #de2277; 
  font-size: 24px; 
  }
.name {
  color: #ffffff;
  font-size: 36px;
  margin-bottom: 10px;
}
.description {
  color: #ffffff;
  font-size: 18px;
}

.about-me{

border-radius: 10px;
margin-top: 330px ;
margin-left : 150px;
margin-right: 150px;
padding: 100px 0px;
display: flex; /* Use flexbox to arrange the image and text side by side */
align-items: center; /* Ve /* Add a border for the box */
margin-bottom:100px;
}

.about-desc{
  font-size:21px;
  color:white;
  height:200px;
  width: 70%;
  margin-left: 150px;
  text-align: left;
  
  flex: 1; /* Allow the text to grow and take up remaining space */
  word-wrap: break-word; /* Wrap long words or URLs if they don't fit */
  white-space: pre-line; /* Preserve line breaks and whitespace */
  overflow: hidden; /* Prevent text from spilling out */
}
.about-head{

  color:#de2277;
  
  font-size: 30px;
  margin-bottom: 10px;
}
.skills-head{
  color:#de2277;
  font-size: 30px;
  margin-bottom: 10px;
}
.skills{
  margin : 50px 100px;
}
.skill-container{
   display: flex; 
   justify-content: center;
}
svg{
 margin:10px;
}
.skills-section{
  
  margin-bottom:200px;
}
.experience-head{

  color :#de2277;
  font-size: 30px;
  margin-bottom: 50px;
}

.experience {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.button-container {
  flex: 1;
  margin-right: 20px;
}

.company-button {
  display: block;
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-bottom: 23px;
  background-color: #de2277;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10px;
}

.experience-details {
  color:white;
  flex: 2;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  min-height: 150px;
  background-color: #2c2a2b;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.experience-details p {
  font-size: 16px;
}

/* Style for the active button */
.company-button.active {
  background-color: #f4a7b7;
}

.experience-section{

  margin-top:300px;

}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  margin-left: 10px;
}

.social-icons {
  margin-right: 10px;
}

.social-icons a {
  margin-left: 10px;
  text-decoration: none;
  color: #fff;
}

.social-icons svg{
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.projects-head{
  color:#de2277;
  font-size: 30px;
  margin-top: 200px;
  margin-bottom: 50px;
}

.card-image{
  position:relative;
  height:150px;
  width:150px;
}
.card-image .card-img{
height:100%;
width:100%;
object-fit:cover;

}
